/* General */
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Genos', sans-serif;
    overflow-x: hidden;
    margin: -16px auto auto auto;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(240, 240, 240);
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(16, 84, 173);
}
/* Header */
header{
    width: 100%;
    background-color: rgb(118, 175, 250);
}
#inicio{
    width: 100%;
    text-align: center;
}
.menu li{
    list-style-type: none;
    display: inline-flex;
    padding: 5px;
    font-size: 20px;
}
.menu h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
}
.menu h1:first-child{
    color: rgb(16, 84, 173);
}
.menu a{
    text-decoration: none;
    color: rgb(220, 242, 255);
}
.menu a:hover{
    border-bottom: solid 0.5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
.submenu{
    display: grid;
    position: absolute;
    opacity: 0;
}
.submenu a{
    color: rgb(16, 84, 173);
}
.submenu a:hover{
    color: rgb(56, 124, 212);
    border-bottom: solid 0.5px rgb(56, 124, 212);
}
.cuenta{
    right: 25%;
    top: 68px;
}
.usuario{
    right: 27%;
    top: 68px;
}
.menu li:hover .submenu{
    opacity: 1;
    transition: 1s;
}
.menu p{
    font-size: 25px;
    color: rgb(16, 84, 173);
}
/* Main */
section:first-child{
    padding: 150px 0px;
    text-align: center;
}
section p{
    font-size: 25px;
}
section a{
    font-size: 15px;
    text-decoration: none;
    padding: 8px;
    background: linear-gradient(145deg, #7ebbff, #6a9ee1);
    border: solid 2px rgb(16, 84, 173);
    border-radius: 10px;
    color: rgb(220, 242, 255);
}
section a:hover{
    color: rgb(255, 255, 255);
    transition: all, 1s;
}
/* Footer */
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(118, 175, 250);
    padding: 50px 0px 50px 0px;
    text-align: center;
    color: rgba(255,255,255);
}
footer table {
    width: 60%;
    margin: auto;
}
footer li{
    list-style-type: none;
    margin-bottom: 5px;
}
footer li:first-child{
    display: inline-flex;
    font-size: 25px;
    margin-bottom: -20px;
}
footer h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
}
footer img{
    font-size: 20px;
}
footer img:hover{
    transform: scale(1.5);
    transition: 0.7s;
}
footer h1:first-child{
    color: rgb(16, 84, 173);
}