/* General */
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Genos', sans-serif;
    overflow-x: hidden;
    margin: -16px auto auto auto;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(240, 240, 240);
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(16, 84, 173);
}
/* Header */
header{
    width: 100%;
    background-color: rgb(118, 175, 250);
}
#inicio{
    width: 100%;
    text-align: center;
}
.menu li{
    list-style-type: none;
    display: inline-flex;
    padding: 5px;
    font-size: 20px;
}
.menu h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
}
.menu h1:first-child{
    color: rgb(16, 84, 173);
}
.menu a{
    text-decoration: none;
    color: rgb(220, 242, 255);
}
.menu a:hover{
    border-bottom: solid 0.5px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
.submenu{
    display: grid;
    position: absolute;
    opacity: 0;
}
.submenu a{
    color: rgb(16, 84, 173);
}
.submenu a:hover{
    color: rgb(56, 124, 212);
    border-bottom: solid 0.5px rgb(56, 124, 212);
}
.cuenta{
    right: 25%;
    top: 68px;
}
.usuario{
    right: 27%;
    top: 68px;
}
.menu li:hover .submenu{
    opacity: 1;
    transition: 1s;
}
.menu p{
    font-size: 25px;
    color: rgb(16, 84, 173);
}
/* Main */
.mensaje{
    font-size: 25px;
    text-align: center;
    padding: 100px 0px 250px 0px;
}
main h3{
    text-align: center;
    font-size: 25px;
    margin: 50px 0px;
    color: rgb(16, 84, 173);
}
form{
    width: 40%;
    margin: auto auto 100px auto;
    background-color: rgb(255, 255, 255);
    padding: 35px;
}
legend{
    border-bottom: solid 1px black;
    margin-bottom: 35px;
}
.contenedor_filtros{
    margin: auto auto 20px 50px;
}
#contenedor_estilos{
    margin: auto auto 20px 50px;
}
.addBoton{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(240, 240, 240);
    border-color: rgb(16, 84, 173);
    color: rgb(16, 84, 173);
    cursor: pointer;
}
#botonEnviar{
    margin:20px 0px 0px 42%;
    padding: 10px;
    font-size: 25px;
    background-color: rgb(118, 175, 250);
    color: rgb(240, 240, 240);
    border-color: rgb(16, 84, 173);
    border-radius: 10px;
    cursor: pointer;
}
#botonEnviar:hover{
    color: rgb(255, 255, 255);
    transition: 0.7s;
}
/* Footer */
footer{
    width: 100%;
    background-color: rgb(118, 175, 250);
    padding: 50px 0px 50px 0px;
    text-align: center;
    color: rgba(255,255,255);
}
footer table {
    width: 60%;
    margin: auto;
}
footer li{
    list-style-type: none;
    margin-bottom: 5px;
}
footer li:first-child{
    display: inline-flex;
    font-size: 25px;
    margin-bottom: -20px;
}
footer h1{
    font-family: 'Bebas Neue', cursive;
    color: rgb(255, 255, 255);
}
footer img{
    font-size: 20px;
}
footer img:hover{
    transform: scale(1.5);
    transition: 0.7s;
}
footer h1:first-child{
    color: rgb(16, 84, 173);
}